
body {
  display: flex;
  background-color: gray;
}

/* sidebar section */
.sidebar-container {
  flex: 1;
  background-color: red; 
  flex-direction: column;
}

.sidebar-profile {
  background-color: red;
  height: 10em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.profile-photo {
  border: .05em solid #fff;
  height: 4em;
  width: 4em;
  border-radius: 100%;
}

.profile-name {
  font-size: 1em;
  padding: 1em;  
}

.sidebar-navigation {
  background-color: yellow;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0em 1em;
}


.sidebar-admin {
  background-color: white;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0em 1em;  
}

.sidebar-categories {
  background-color: red;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: start-end;
  padding: 3em 1em;
  align-content: space-around;
}

.radio-btn-container {
  display: flex;
  flex-direction: column;
}

.btn-style {

}

.administration-radio-section {
  display: flex;
  flex-direction: row;
}

.admin-btn {
  background-color: yellow;
}

.design-radio-section {
  display: flex;
  flex-direction: row;
}

.design-btn {
 background-color: yellow;
}

.executive-radio-section {
  display: flex;
  flex-direction: row;
}

.executive-btn {
  background-color: yellow;

}

.hr-radio-section {
  display: flex;
  flex-direction: row;
}

.hr-btn {
  background-color: yellow;
}

/* main area */
.main-container {
  flex: 5;
  background-color: blue;
  display: flex;
  flex-direction: column; 
}

/* top-search section */
.top-search { 
  background-color: yellow; 
  height: 4em; 
  display: flex;
  flex-direction: flex-end;
}

.collapsible {
  width: 6em;
}

.search-box {
  padding: 1em 69em 1em 2em;
}

.search-buttons {
 display: flex;
/*  width: 6em; */
/*  flex-direction: start-end; */
}

.button-1 {
  width: 6em;
}

.button-2 {
  width: 6em;
}

.button-3 {
  width: 6em;
}

/* job-title section */
.job-title-section{
  background-color: pink;
  height: 20em;
  display: flex;
  flex-direction: column;
}

.job-title-name-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.job-title-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 20%
}

.customer-service {
  padding: 3em 0em 0em 2em;
}

.location { 
  display: flex;  
  justify-content: space-around;
  align-items: center;
  
}

.job-title-btn {
/*   display: flex; */
  padding: 3em 2em 0em 0em;
  display: flex;
  justify-content: flex-start;
  
  width: 35%;
}

.open-btn {
  border: .05em solid #FAFAFA;
  height: 4em;
  width: 9em;
  border-radius: 35%;
  font-size: .75em;
  
}

.flag-btn {
  border: .05em solid, #FAFAFA;
  height: 4em;
  width: 4em;
  border-radius: 100%;
  
}

.edit-btn{
  border: .05em solid #FAFAFA;
  height: 4em;
  width: 4em;
  border-radius: 100%;
}

.trash-btn {
  border: .05em solid #FAFAFA;
  height: 4em;
  width: 4em;
  border-radius: 100%; 
}

.job-title-menu {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-evenly;
  padding: 3em 0em 0em 0em
  
}

/* graph section */
.graph-section {
  background-color: purple;
  height: 25em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.circle-graph-section {
  display: flex;
  flex-direction: row;
  height: 75%;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.circle1 {
  
}

.circle2 {
  
}

.circle3 {

}

.applicants-btn {
  
}

.bar-graph-section {
  display: flex;
  width: 40%;
  height: 75%;
  justify-content: center;
  align-content: center;
  
}

.bar-graph {
  
}

.totals-btn-section {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 75%;
  justify-content: center;
  align-items: center;
  
  
}

.totals-btn {
  
}

.applicants-btn-section {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 25%;
  justify-content: center;
  align-items: center;
  
}


/* job description section */
.job-description-container {
  background-color: pink;
  height: 50em;
  display: flex;
  display-direction: column;
  flex-wrap: wrap;
}

.jd-box {
  background-color: yellow;
  display; flex;
  flex-direction: column;
  height: 85%;
  width: 60%;
  padding: 0em 0em 0em 1em;
  margin: 3rem 3rem 0rem 3rem;
  
}

.jd-box-header {
  background-color: #47A4F4;
  display: flex;
  flex-direction: row;

  
}

.jd-edit-btn {
  
}

.jd-title {
  display: flex;
  flex-direction: row;
  
}

.position-title {
  
}

.cust-service-rep {
  
}

.jd-location {
  display: flex;
  flex-direction: row;
  
}

.jd-locale {
  
}

.jd-city {
  
}

.jd-type {
  display: flex;
  flex-direction: row;
}

.emp-type {
  
}

.full-time {
  
}

.jd-experience {
  display: flex;
  flex-direction: row;
  
}

.experience {
  
}

.grade {
  
}

.jd-status {
  display: flex;
  flex-direction: row;
  
}

.status {
  
}

.open {
  
}

.jd-description {
  display: flex;
  flex-direction: row;
  
}

.description-title {
  
}

.description-paragraph {
  
}

.hiring-lead {
  display: flex;
  flex-direction: row;
  
}

.hiring-lead-title {
  
}

.hiring-lead-photo {
  
}

.hiring-lead-name {
  
}

.jd-salary {
  display: flex;
  flex-direction: row;
  
}
 
.approved-salary-title {
  
}

.salary {
  
}

.additional-resources-section {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 27%;
  margin: 3rem 1rem;
}

.social-media-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.facebook-btn {
  height: 4em;
  
}

.twitter-btn {
  height: 4em;
  
}

.linkedin-btn {
  height: 4em;
}

.link-widget-upload-section {
  
}

.link-to-job {
  
}

.link-to-this-job-title {
  
}

.link-instructions {
  
}

.link-paragraph {
  
}

.link-input {
  
}

.link-input-box {
  
}

.widget {
  
}

.widget-title {
  
}

.widget-instructions {
  
}

.widget-paragraph {
  
}

.widget-input {
  
}

.widget-input-box {
  
}

.upload-resume-section {
  
}

.upload-resume-title {
  
}

.upload-resume-instructions {
  
}

.upload-resume-paragraph {
  
}

.upload-resume-input {
  
}

.upload-resume-input-box {
  
}


/* Large */
/*.navigation {*/
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  /* This aligns items to the end line on main-axis */
  /*justify-content: flex-end;*/
/*}*/


@media screen and (max-width: 900px) {
  .main-container {
    display: flex;
    justify-content: space-around;
  }
}

/* Medium screens */
@media screen and (max-width: 800px) {
  .sidebar-container {
    display: none 
  }
  .main-container {
    display: flex
    justify-content: space-around;

  }
}

/* Small screens */
@media screen and (max-width: 500px) {
  .sidebar-container {
    display: none;
  }
  .main-container {
    display: flex;
    /*display-direction: column;*/
    justify-content: space-around;


  }
}


